In [1]:
import pandas as pd
from osgeo import gdal
import math
import os
import glob
from PIL import Image # PIL library supports only TIF format but not newer TIFF
import numpy as np
from skimage import util, exposure

In [2]:
data_directory = '../data/'
asf_data_directory = data_directory + '3_processed_ASF_data/'
interpolated_AIS_data_directory = data_directory + '5_interpolated_AIS_data/'
#annotated_asf_data_directory = data_directory + '6_annotated_ASF_data/'
cutted_asf_data_directory = data_directory + '6_cutted_ASF_data/'
#sliced_asf_data_directory = data_directory +'7_sliced_ASF_data/'
results_directory = '../results/'

In [9]:
newest_results_file = "2023-01-13_00-58-29_full_data_df.csv"
full_data_df = pd.read_csv(results_directory + newest_results_file, index_col=0)
full_data_df

,asf_file,image_datetime,date,minLON,minLAT,maxLON,maxLAT,widthpx,heightpx,datetime_lower,datetime_upper,ais_file
0,subset_0_of_S1A_IW_GRDH_1SDV_20210106T015004_2...,2021-01-06 01:50:18.500,2021-01-06,-118.417484,33.310909,-117.675835,33.792945,8256,5366,2021-01-06 01:40:18.500,2021-01-06 02:00:18.500,AIS_2021_01_06.csv
1,subset_1_of_S1A_IW_GRDH_1SDV_20210106T135303_2...,2021-01-06 13:53:15.500,2021-01-06,-118.358644,31.787350,-116.685352,32.904135,18627,12432,2021-01-06 13:43:15.500,2021-01-06 14:03:15.500,AIS_2021_01_06.csv
2,subset_10_of_S1A_IW_GRDH_1SDV_20210307T015003_...,2021-03-07 01:50:17.500,2021-03-07,-118.500855,33.294096,-117.759475,33.776401,8253,5369,2021-03-07 01:40:17.500,2021-03-07 02:00:17.500,AIS_2021_03_07.csv
3,subset_11_of_S1B_IW_GRDH_1SDV_20210306T015804_...,2021-03-06 01:58:16.500,2021-03-06,-119.682261,34.259304,-119.487956,34.384619,2163,1395,2021-03-06 01:48:16.500,2021-03-06 02:08:16.500,AIS_2021_03_06.csv
4,subset_5_of_S1B_IW_GRDH_1SDV_20210306T015735_2...,2021-03-06 01:57:49.500,2021-03-06,-118.373353,33.409416,-117.973153,33.742602,4455,3709,2021-03-06 01:47:49.500,2021-03-06 02:07:49.500,AIS_2021_03_06.csv
5,subset_12_of_S1B_IW_GRDH_1SDV_20210406T014917_...,2021-04-06 01:49:29.500,2021-04-06,-117.504909,32.430804,-117.128335,32.677391,4192,2745,2021-04-06 01:39:29.500,2021-04-06 01:59:29.500,AIS_2021_04_06.csv
6,subset_13_of_S1B_IW_GRDH_1SDV_20210505T015737_...,2021-05-05 01:57:51.500,2021-05-05,-118.369253,33.310377,-117.952344,33.737795,4641,4758,2021-05-05 01:47:51.500,2021-05-05 02:07:51.500,AIS_2021_05_05.csv
7,subset_14_of_S1B_IW_GRDH_1SDV_20210505T015806_...,2021-05-05 01:58:18.500,2021-05-05,-120.182454,34.110307,-119.868223,34.312787,3498,2254,2021-05-05 01:48:18.500,2021-05-05 02:08:18.500,AIS_2021_05_05.csv
8,subset_15_of_S1B_IW_GRDH_1SDV_20210605T014920_...,2021-06-05 01:49:32.500,2021-06-05,-117.740009,32.063002,-117.092324,32.426101,7210,4042,2021-06-05 01:39:32.500,2021-06-05 01:59:32.500,AIS_2021_06_05.csv
9,subset_16_of_S1B_IW_GRDH_1SDV_20210605T135153_...,2021-06-05 13:52:05.500,2021-06-05,-118.573557,33.336484,-117.917068,33.761297,7308,4729,2021-06-05 13:42:05.500,2021-06-05 14:02:05.500,AIS_2021_06_05.csv
10,subset_17_of_S1B_IW_GRDH_1SDV_20210605T135218_...,2021-06-05 13:52:30.500,2021-06-05,-118.153758,32.683639,-117.434208,33.153728,8010,5233,2021-06-05 13:42:30.500,2021-06-05 14:02:30.500,AIS_2021_06_05.csv
11,subset_18_of_S1B_IW_GRDH_1SDV_20210105T015737_...,2021-01-05 01:57:51.500,2021-01-05,-118.493916,33.217515,-117.938308,33.741952,6185,5838,2021-01-05 01:47:51.500,2021-01-05 02:07:51.500,AIS_2021_01_05.csv
12,subset_19_of_S1B_IW_GRDH_1SDV_20210105T015806_...,2021-01-05 01:58:18.500,2021-01-05,-119.657429,34.277021,-119.511184,34.371074,1628,1047,2021-01-05 01:48:18.500,2021-01-05 02:08:18.500,AIS_2021_01_05.csv
13,subset_20_of_S1B_IW_GRDH_1SDV_20210205T014917_...,2021-02-05 01:49:29.500,2021-02-05,-117.234012,32.599694,-117.143911,32.658623,1003,656,2021-02-05 01:39:29.500,2021-02-05 01:59:29.500,AIS_2021_02_05.csv
14,subset_2_of_S1A_IW_GRDH_1SDV_20210204T015812_2...,2021-02-04 01:58:26.500,2021-02-04,-118.425671,33.328720,-117.988910,33.778327,4862,5005,2021-02-04 01:48:26.500,2021-02-04 02:08:26.500,AIS_2021_02_04.csv
15,subset_3_of_S1A_IW_GRDH_1SDV_20210405T015812_2...,2021-04-05 01:58:26.500,2021-04-05,-118.422021,33.313183,-117.985709,33.762700,4857,5004,2021-04-05 01:48:26.500,2021-04-05 02:08:26.500,AIS_2021_04_05.csv
16,subset_4_of_S1A_IW_GRDH_1SDV_20210405T015841_2...,2021-04-05 01:58:53.500,2021-04-05,-119.359359,33.876492,-118.608996,34.153533,8353,3084,2021-04-05 01:48:53.500,2021-04-05 02:08:53.500,AIS_2021_04_05.csv
17,subset_6_of_S1A_IW_GRDH_1SDV_20210506T015004_2...,2021-05-06 01:50:18.500,2021-05-06,-118.412634,33.308461,-117.670895,33.790677,8257,5368,2021-05-06 01:40:18.500,2021-05-06 02:00:18.500,AIS_2021_05_06.csv
18,subset_7_of_S1A_IW_GRDH_1SDV_20210604T015815_2...,2021-06-04 01:58:29.500,2021-06-04,-118.401657,33.434347,-118.009363,33.741301,4367,3417,2021-06-04 01:48:29.500,2021-06-04 02:08:29.500,AIS_2021_06_04.csv
19,subset_8_of_S1A_IW_GRDH_1SDV_20210604T015844_2...,2021-06-04 01:58:56.500,2021-06-04,-120.737619,33.687642,-119.175359,34.668512,17391,10919,2021-06-04 01:48:56.500,2021-06-04 02:08:56.500,AIS_2021_06_04.csv
20,subset_9_of_S1A_IW_GRDH_1SDV_20210604T015844_2...,2021-06-04 01:58:56.500,2021-06-04,-120.737619,33.687642,-119.175359,34.668512,17391,10919,2021-06-04 01:48:56.500,2021-06-04 02:08:56.500,AIS_2021_06_04.csv

In [10]:
full_data_df = full_data_df.iloc[2:3]
full_data_df

,asf_file,image_datetime,date,minLON,minLAT,maxLON,maxLAT,widthpx,heightpx,datetime_lower,datetime_upper,ais_file
2,subset_10_of_S1A_IW_GRDH_1SDV_20210307T015003_...,2021-03-07 01:50:17.500,2021-03-07,-118.500855,33.294096,-117.759475,33.776401,8253,5369,2021-03-07 01:40:17.500,2021-03-07 02:00:17.500,AIS_2021_03_07.csv

In [5]:
def calculate_px_from_lon2(row, xOrigin, pixelWidth):  
    return round((row['LON'] - xOrigin) / pixelWidth)

In [6]:
def calculate_px_from_lat2(row, yOrigin, pixelHeight):  
    return round((yOrigin - row['LAT']) / pixelHeight)

In [12]:
SHIP_WIDTH_PX = 50 #50
SHIP_HEIGHT_PX = 50 #50
OBJECT_CLASS = 0
FILES_FORMAT_TO_PROCESS = '.png'
TAG_MAIN_PICTURE = False #takes a lot of time - tag not tiled big picture

for index, row in full_data_df.iterrows():
    print(f"File: {index}")
    asf_file_name = row['asf_file'].strip(".tif")
    print(f"ASF file name: {asf_file_name}")
    ais_file_name = 'interpolated_processed_' + row['ais_file']
    print(f"AIS file name: {ais_file_name}")
    ais_file_df = pd.read_csv(interpolated_AIS_data_directory + ais_file_name, index_col=0)
    # HERE STARTS THE DIFFERENCE
    directory = cutted_asf_data_directory + asf_file_name
    print(f'directory: {directory}')
    if os.path.exists(directory):
        pictures=list()
        for file in os.listdir(directory):
            if file.endswith(FILES_FORMAT_TO_PROCESS):
                pictures.append(file)
        if TAG_MAIN_PICTURE == False:
            pictures.remove('original_picture.png')
            #print(pictures)
        print(pictures)
        for picture in pictures:
            print(f'picture: {picture}')
            picture_name = picture.strip(FILES_FORMAT_TO_PROCESS)
            print(f'picture_name: {picture_name}')
            in_ds = gdal.Open(directory + '/' + picture)
            #print(in_ds)
            image_width = in_ds.RasterXSize
            image_height = in_ds.RasterYSize
            geo_transform = in_ds.GetGeoTransform()
            
            minx = geo_transform[0] #minLON
            miny = geo_transform[3] + image_width*geo_transform[4] + image_height*geo_transform[5] #minLAT
            maxx = geo_transform[0] + image_width*geo_transform[1] + image_height*geo_transform[2] #maxLON
            maxy = geo_transform[3] #maxLAT
            
            xOrigin = geo_transform[0] # NEEDED
            yOrigin = geo_transform[3] # NEEDED
            pixelWidth = geo_transform[1] # NEEDED
            pixelHeight = -geo_transform[5] # NEEDED
            print(f"image_width: {image_width}, image_height: {image_height}")
            #print(f"pixel_width: {pixelWidth}, pixel_height: {pixelHeight}")
            print(f"xOrigin: {xOrigin}, yOrigin: {yOrigin}")
            #display(ais_file_df.head())
            
            # Restrict AIS data by the given conditions
            # condition for latitude: between 19.193 and 21.1203
            condition1 = (ais_file_df.LAT > miny) & (ais_file_df.LAT < maxy)
            # condition for latitude: between -157.0894 and -154.4233
            condition2 = (ais_file_df.LON > minx) & (ais_file_df.LON < maxx)
            # final dataframe
            target_area = ais_file_df[condition1 & condition2].copy().reset_index(drop=True)
            #display(target_area)
            # Further work
            if len(target_area) != 0:
                print('##############')
                print('SHIPS DETECTED')
                print('##############')
                # TODO: if to save empty txt file?
                # YOLO format do not need empty files for pictures
                for index, row in target_area.iterrows():
                    target_area['LONpx_X2'] = target_area.apply(lambda row: calculate_px_from_lon2(row, xOrigin, pixelWidth), axis=1)
                    target_area['LATpx_Y2'] = target_area.apply(lambda row: calculate_px_from_lat2(row, yOrigin, pixelHeight), axis=1)
                
                display(target_area.head())
                print(f"Number of ships founded (including black areas = 0 pixel value): {len(target_area)}")
                    
                current_file = directory + '/' + picture_name + '.txt'
                if os.path.exists(current_file):
                    os.remove(current_file) #remove old files
                    
                ships_counter = 0
                for index, row in target_area.iterrows():
                    
#                     # Check pixel value - if (0,0,0) then exclude it from the dataset
#                     im = Image.open(directory + '/' + picture) # Can be many different formats.
#                     pix = im.load()
#                     print(f"Image size: {im.size}")  # Get the width and hight of the image for iterating over
#                     try: 
#                         pixels = pix[row['LONpx_X2'], row['LATpx_Y2']]
#                         print(f"Image pixels values: {pixels}")
#                         #print(pixels[0], pixels[1], pixels[2])
#                         if pixels[0]==0 and pixels[1]==0 and pixels[2]==0:
#                             # DO NOT TAG THE DATA THEN - it is black area
#                             print("0 pixels values - not tagging")
#                             continue
#                         ships_counter += 1  
#                     except:
#                         print("IndexError: image index out of range")
#                         continue
                    
                    file_object = open(current_file, 'a')
                    #OBJECT_CLASS, SHIP_WIDTH_PX, SHIP_HEIGHT_PX
                    #print("before normalization")
                    #print("LONpx_X2", row['LONpx_X2'])
                    #print("LATpx_Y2", row['LATpx_Y2'])
                    X_CENTER_AXIS_VALUE = row['LONpx_X2']
                    Y_CENTER_AXIS_VALUE = row['LATpx_Y2']
                    #print(OBJECT_CLASS, X_CENTER_AXIS_VALUE, Y_CENTER_AXIS_VALUE, SHIP_WIDTH_PX, SHIP_HEIGHT_PX)
                    #print("after normalization")
                    #X_CENTER_AXIS_VALUE = (X_CENTER_AXIS_VALUE + SHIP_WIDTH_PX/2) / image_width
                    #Y_CENTER_AXIS_VALUE = (Y_CENTER_AXIS_VALUE + SHIP_HEIGHT_PX/2) / image_height
                    X_CENTER_AXIS_VALUE = X_CENTER_AXIS_VALUE / image_width
                    Y_CENTER_AXIS_VALUE = Y_CENTER_AXIS_VALUE / image_height
                    SHIP_WIDTH_normalized = SHIP_WIDTH_PX / image_width
                    SHIP_HEIGHT_normalized = SHIP_HEIGHT_PX / image_height
                    #print(OBJECT_CLASS, X_CENTER_AXIS_VALUE, Y_CENTER_AXIS_VALUE, SHIP_WIDTH_normalized, SHIP_HEIGHT_normalized)
                    string_to_write = f"{OBJECT_CLASS} {X_CENTER_AXIS_VALUE} {Y_CENTER_AXIS_VALUE} {SHIP_WIDTH_normalized} {SHIP_HEIGHT_normalized}\n"
                    file_object.write(string_to_write)
                    # Close the file       
                    file_object.close()
                print(f"Number of ships founded (including black areas = 0 pixel value): {len(target_area)}")
                print(f"Number of ships founded after excluding black areas == 0 pixel value: {ships_counter}")
            else:
                print()
                #print('Sorry, no ships on the selected area')
                #file_object = open(directory + '/' + picture_name + '.txt', 'a')
                #file_object.close()
            print()
    else:
        print('ERROR!! no picture data')
        print('TRY ANNOTATION AGAIN')
        continue

File: 2
ASF file name: subset_10_of_S1A_IW_GRDH_1SDV_20210307T015003_20210307T015032_036886_045698_BCE0_TC
AIS file name: interpolated_processed_AIS_2021_03_07.csv
directory: ../data/6_cutted_ASF_data/subset_10_of_S1A_IW_GRDH_1SDV_20210307T015003_20210307T015032_036886_045698_BCE0_TC
['subset1.png', 'subset10.png', 'subset100.png', 'subset101.png', 'subset102.png', 'subset103.png', 'subset104.png', 'subset105.png', 'subset106.png', 'subset107.png', 'subset108.png', 'subset109.png', 'subset11.png', 'subset110.png', 'subset111.png', 'subset112.png', 'subset113.png', 'subset114.png', 'subset115.png', 'subset116.png', 'subset117.png', 'subset12.png', 'subset13.png', 'subset14.png', 'subset15.png', 'subset16.png', 'subset17.png', 'subset18.png', 'subset19.png', 'subset2.png', 'subset20.png', 'subset21.png', 'subset22.png', 'subset23.png', 'subset24.png', 'subset25.png', 'subset26.png', 'subset27.png', 'subset28.png', 'subset29.png', 'subset3.png', 'subset30.png', 'subset31.png', 'subset32.png', 'subset33.png', 'subset34.png', 'subset35.png', 'subset36.png', 'subset37.png', 'subset38.png', 'subset39.png', 'subset4.png', 'subset40.png', 'subset41.png', 'subset42.png', 'subset43.png', 'subset44.png', 'subset45.png', 'subset46.png', 'subset47.png', 'subset48.png', 'subset49.png', 'subset5.png', 'subset50.png', 'subset51.png', 'subset52.png', 'subset53.png', 'subset54.png', 'subset55.png', 'subset56.png', 'subset57.png', 'subset58.png', 'subset59.png', 'subset6.png', 'subset60.png', 'subset61.png', 'subset62.png', 'subset63.png', 'subset64.png', 'subset65.png', 'subset66.png', 'subset67.png', 'subset68.png', 'subset69.png', 'subset7.png', 'subset70.png', 'subset71.png', 'subset72.png', 'subset73.png', 'subset74.png', 'subset75.png', 'subset76.png', 'subset77.png', 'subset78.png', 'subset79.png', 'subset8.png', 'subset80.png', 'subset81.png', 'subset82.png', 'subset83.png', 'subset84.png', 'subset85.png', 'subset86.png', 'subset87.png', 'subset88.png', 'subset89.png', 'subset9.png', 'subset90.png', 'subset91.png', 'subset92.png', 'subset93.png', 'subset94.png', 'subset95.png', 'subset96.png', 'subset97.png', 'subset98.png', 'subset99.png']
picture: subset1.png
picture_name: subset1
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.77640106205257


picture: subset10.png
picture_name: subset10
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.77640106205257


picture: subset100.png
picture_name: subset100
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.77640106205257


picture: subset101.png
picture_name: subset101
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.71890888386892


picture: subset102.png
picture_name: subset102
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.66141670568527


picture: subset103.png
picture_name: subset103
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.603924527501626


picture: subset104.png
picture_name: subset104
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.546432349317975


picture: subset105.png
picture_name: subset105
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.488940171134324


picture: subset106.png
picture_name: subset106
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.43144799295067


picture: subset107.png
picture_name: subset107
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.37395581476702


picture: subset108.png
picture_name: subset108
image_width: 640, image_height: 640
xOrigin: -117.8684410360121, yOrigin: 33.31646363658338


picture: subset109.png
picture_name: subset109
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.77640106205257


picture: subset11.png
picture_name: subset11
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.71890888386892


picture: subset110.png
picture_name: subset110
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.71890888386892


picture: subset111.png
picture_name: subset111
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.66141670568527


picture: subset112.png
picture_name: subset112
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.603924527501626


picture: subset113.png
picture_name: subset113
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.546432349317975


picture: subset114.png
picture_name: subset114
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.488940171134324


picture: subset115.png
picture_name: subset115
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.43144799295067
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,366943960,2021-03-07 01:50:17.500,33.42467,-117.78567,29.5,76.6,511.0,CATALINA EXPRESS,IMO8967888,WCJ6210,60.0,0.0,30.0,6.0,NaN,NaN,A,281,75

Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset116.png
picture_name: subset116
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.37395581476702


picture: subset117.png
picture_name: subset117
image_width: 640, image_height: 640
xOrigin: -117.81094885782845, yOrigin: 33.31646363658338


picture: subset12.png
picture_name: subset12
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.66141670568527


picture: subset13.png
picture_name: subset13
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.603924527501626


picture: subset14.png
picture_name: subset14
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.546432349317975


picture: subset15.png
picture_name: subset15
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.488940171134324


picture: subset16.png
picture_name: subset16
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.43144799295067


picture: subset17.png
picture_name: subset17
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.37395581476702


picture: subset18.png
picture_name: subset18
image_width: 640, image_height: 640
xOrigin: -118.4433628178486, yOrigin: 33.31646363658338
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,367682160,2021-03-07 01:50:17.500,33.31485,-118.393618,1.3,0.3,511.0,ANGELS GATE,IMO0000000,WDI2830,30.0,NaN,16.0,12.0,NaN,NaN,B,554,18

Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset19.png
picture_name: subset19
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.77640106205257


picture: subset2.png
picture_name: subset2
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.71890888386892


picture: subset20.png
picture_name: subset20
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.71890888386892


picture: subset21.png
picture_name: subset21
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.66141670568527


picture: subset22.png
picture_name: subset22
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.603924527501626


picture: subset23.png
picture_name: subset23
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.546432349317975


picture: subset24.png
picture_name: subset24
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.488940171134324


picture: subset25.png
picture_name: subset25
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.43144799295067
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,368024590,2021-03-07 01:50:17.500,33.38396,-118.35891,0.2,254.1,511.0,BOTTOM SCRATCHER,IMO0000000,WDJ9293,34.0,NaN,21.0,6.0,NaN,NaN,B,300,529

Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset26.png
picture_name: subset26
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.37395581476702


picture: subset27.png
picture_name: subset27
image_width: 640, image_height: 640
xOrigin: -118.38587063966494, yOrigin: 33.31646363658338


picture: subset28.png
picture_name: subset28
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.77640106205257
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,367642530,2021-03-07 01:50:17.500,33.727920,-118.273890,0.1,285.0,511.0,BO BRUSCO,IMO9772917,WDH6880,31.0,0.0,23.0,8.0,NaN,NaN,A,607,540
1,338319175,2021-03-07 01:50:17.500,33.722083,-118.281233,0.0,360.0,511.0,ALOHA NUI,IMO0000000,NaN,37.0,NaN,18.0,3.0,NaN,NaN,B,525,605
2,367486370,2021-03-07 01:50:17.500,33.721387,-118.274730,0.1,19.8,165.0,NRC QUEST,IMO9271195,WDF7619,90.0,5.0,48.0,10.0,3.0,70.0,A,597,612
3,368011010,2021-03-07 01:50:17.500,33.719090,-118.279570,0.0,113.0,511.0,HATTENUFF,IMO0000000,WDJ7882,37.0,NaN,15.0,5.0,NaN,NaN,B,543,638
4,368084540,2021-03-07 01:50:17.500,33.739920,-118.278033,0.0,217.6,9.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A,560,406

Number of ships founded (including black areas = 0 pixel value): 50
Number of ships founded (including black areas = 0 pixel value): 50
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset29.png
picture_name: subset29
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.71890888386892
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,368014440,2021-03-07 01:50:17.500,33.710449,-118.273416,3.7,294.3,511.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A,612,94
1,338304048,2021-03-07 01:50:17.500,33.718900,-118.279452,0.0,360.0,511.0,RUMRUNNER 3,IMO0000000,NaN,37.0,NaN,15.0,3.0,NaN,NaN,B,545,0
2,338331664,2021-03-07 01:50:17.500,33.716630,-118.280970,0.0,155.3,511.0,ASTRAL,IMO0000000,NaN,36.0,NaN,13.0,4.0,NaN,NaN,B,528,25
3,367655460,2021-03-07 01:50:17.500,33.664470,-118.274174,9.7,27.5,511.0,NATIVE SUN,NaN,WDH8179,60.0,0.0,22.0,7.0,NaN,NaN,A,603,606
4,367762210,2021-03-07 01:50:17.500,33.716900,-118.278730,0.0,15.3,511.0,ALOHA,NaN,WDJ2837,37.0,NaN,NaN,NaN,NaN,NaN,B,553,22

Number of ships founded (including black areas = 0 pixel value): 8
Number of ships founded (including black areas = 0 pixel value): 8
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset3.png
picture_name: subset3
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.66141670568527


picture: subset30.png
picture_name: subset30
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.66141670568527


picture: subset31.png
picture_name: subset31
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.603924527501626


picture: subset32.png
picture_name: subset32
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.546432349317975


picture: subset33.png
picture_name: subset33
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.488940171134324


picture: subset34.png
picture_name: subset34
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.43144799295067


picture: subset35.png
picture_name: subset35
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.37395581476702
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,367199310,2021-03-07 01:50:17.500,33.344590,-118.322160,0.0,296.6,511.0,CATALINA JET,IMO8994142,WDD8449,60.0,15.0,43.0,11.0,1.6,40.0,A,69,327
1,367192970,2021-03-07 01:50:17.500,33.344280,-118.322190,0.0,292.2,511.0,CAT EXPRESS,NaN,WDD7921,60.0,15.0,29.0,11.0,NaN,NaN,A,69,330
2,367427670,2021-03-07 01:50:17.500,33.346229,-118.323679,0.2,124.4,511.0,MAGNA CARTA,NaN,WDF2350,37.0,0.0,23.0,6.0,NaN,37.0,A,52,309
3,338060204,2021-03-07 01:50:17.500,33.347153,-118.324335,0.0,360.0,511.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,45,298
4,338240395,2021-03-07 01:50:17.500,33.346885,-118.325446,0.3,80.3,511.0,TIDAL WAVE,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,B,33,301

Number of ships founded (including black areas = 0 pixel value): 5
Number of ships founded (including black areas = 0 pixel value): 5
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset36.png
picture_name: subset36
image_width: 640, image_height: 640
xOrigin: -118.3283784614813, yOrigin: 33.31646363658338


picture: subset37.png
picture_name: subset37
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.77640106205257
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,366764730,2021-03-07 01:50:17.500,33.733143,-118.267757,0.0,271.9,511.0,SCOUT,IMO9188570,WCZ2046,31.0,0.0,31.0,10.0,4.3,NaN,A,35,482
1,366998830,2021-03-07 01:50:17.500,33.733900,-118.249143,0.6,61.6,511.0,ROYAL MELBOURNE,NaN,WDC2865,31.0,0.0,23.0,7.0,NaN,0.0,A,242,473
2,310765000,2021-03-07 01:50:17.500,33.769437,-118.228890,0.0,344.2,254.0,LONDON EXPRESS,IMO9143568,ZCEV3,70.0,5.0,294.0,32.0,13.6,NaN,A,468,78
3,368171260,2021-03-07 01:50:17.500,33.731267,-118.260679,0.0,334.4,337.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,A,114,502
4,367153070,2021-03-07 01:50:17.500,33.767444,-118.217602,0.0,289.8,289.0,MIKIONA,IMO9415583,WDD5057,31.0,0.0,39.0,10.0,4.9,31.0,A,593,100

Number of ships founded (including black areas = 0 pixel value): 63
Number of ships founded (including black areas = 0 pixel value): 63
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset38.png
picture_name: subset38
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.71890888386892
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,477166300,2021-03-07 01:50:17.500,33.688257,-118.215993,0.1,357.2,251.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,611,341
1,636020371,2021-03-07 01:50:17.500,33.701520,-118.214764,0.0,327.9,264.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,625,194

Number of ships founded (including black areas = 0 pixel value): 2
Number of ships founded (including black areas = 0 pixel value): 2
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset39.png
picture_name: subset39
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.66141670568527


picture: subset4.png
picture_name: subset4
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.603924527501626


picture: subset40.png
picture_name: subset40
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.603924527501626


picture: subset41.png
picture_name: subset41
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.546432349317975


picture: subset42.png
picture_name: subset42
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.488940171134324
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,366943940,2021-03-07 01:50:17.500,33.463882,-118.265537,24.5,14.1,511.0,SUPER EXPRESS,NaN,WAB6372,60.0,5.0,26.0,6.0,NaN,NaN,A,60,279

Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset43.png
picture_name: subset43
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.43144799295067


picture: subset44.png
picture_name: subset44
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.37395581476702


picture: subset45.png
picture_name: subset45
image_width: 640, image_height: 640
xOrigin: -118.27088628329764, yOrigin: 33.31646363658338


picture: subset46.png
picture_name: subset46
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.77640106205257
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,352631000,2021-03-07 01:50:17.500,33.740743,-118.197366,0.0,233.6,270.0,COSCO AMERICA,IMO9345427,3EPH4,70.0,5.0,349.0,45.0,14.5,NaN,A,178,397
1,367113620,2021-03-07 01:50:17.500,33.736187,-118.180721,9.6,193.5,511.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A,364,448
2,368021110,2021-03-07 01:50:17.500,33.761437,-118.192307,0.0,253.7,511.0,SOME TUESDAY,IMO0000000,WDJ8919,36.0,NaN,15.0,8.0,NaN,NaN,B,235,167
3,367303000,2021-03-07 01:50:17.500,33.775510,-118.213050,0.0,360.0,62.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A,4,10
4,367616090,2021-03-07 01:50:17.500,33.770030,-118.212513,0.0,192.6,287.0,SEA FORCE,NaN,WDH4282,90.0,5.0,22.0,NaN,NaN,NaN,A,10,71

Number of ships founded (including black areas = 0 pixel value): 40
Number of ships founded (including black areas = 0 pixel value): 40
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset47.png
picture_name: subset47
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.71890888386892
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,351249000,2021-03-07 01:50:17.500,33.675002,-118.211234,0.2,300.5,265.0,NYK OCEANUS,IMO9312975,3EMR8,70.0,1.0,336.0,45.0,14.0,70.0,A,24,489
1,351539000,2021-03-07 01:50:17.500,33.712899,-118.193810,0.3,186.8,245.0,NAVIOS AMBER,IMO9736341,3FQB6,70.0,1.0,229.0,32.0,14.5,NaN,A,218,67
2,311000923,2021-03-07 01:50:17.500,33.694230,-118.199540,0.2,195.9,259.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,154,275
3,354212000,2021-03-07 01:50:17.500,33.705916,-118.205045,0.0,353.7,259.0,NYK METEOR,IMO9337638,3ENA9,70.0,1.0,294.0,32.0,13.5,NaN,A,93,145
4,477655200,2021-03-07 01:50:17.500,33.669567,-118.158094,0.0,146.0,258.0,COSCO JAPAN,IMO9448748,VRFX5,70.0,1.0,334.0,42.0,14.5,71.0,A,616,549

Number of ships founded (including black areas = 0 pixel value): 5
Number of ships founded (including black areas = 0 pixel value): 5
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset48.png
picture_name: subset48
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.66141670568527
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,372270000,2021-03-07 01:50:17.500,33.655018,-118.195381,11.1,207.2,218.0,KING FREIGHT,IMO9425760,3FKH4,70.0,0.0,189.0,32.0,12.8,NaN,A,201,71
1,367104070,2021-03-07 01:50:17.500,33.611410,-118.159280,14.5,303.1,511.0,PATRICK,IMO8982541,WDC9572,60.0,0.0,31.0,6.0,NaN,42.0,A,602,557

Number of ships founded (including black areas = 0 pixel value): 2
Number of ships founded (including black areas = 0 pixel value): 2
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset49.png
picture_name: subset49
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.603924527501626


picture: subset5.png
picture_name: subset5
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.546432349317975


picture: subset50.png
picture_name: subset50
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.546432349317975


picture: subset51.png
picture_name: subset51
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.488940171134324
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,232002990,2021-03-07 01:50:17.500,33.477215,-118.17148,11.8,159.9,163.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,A,467,131

Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset52.png
picture_name: subset52
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.43144799295067


picture: subset53.png
picture_name: subset53
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.37395581476702


picture: subset54.png
picture_name: subset54
image_width: 640, image_height: 640
xOrigin: -118.213394105114, yOrigin: 33.31646363658338


picture: subset55.png
picture_name: subset55
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.77640106205257
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,368048380,2021-03-07 01:50:17.500,33.751350,-118.110223,0.0,70.3,511.0,TAVISH B.,IMO0000000,WDK3754,37.0,NaN,12.0,4.0,NaN,NaN,B,508,279
1,338218665,2021-03-07 01:50:17.500,33.753365,-118.111827,0.0,308.0,511.0,CHIEF,IMO0000000,NaN,37.0,NaN,0.0,0.0,NaN,NaN,B,491,256
2,338226725,2021-03-07 01:50:17.500,33.756430,-118.129708,0.0,277.1,511.0,ANOTHER ADVENTURE,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,B,292,222
3,368141530,2021-03-07 01:50:17.500,33.752637,-118.117696,0.0,360.0,511.0,JOINT VENTURE,IMO0000000,WDL5483,37.0,NaN,15.0,6.0,NaN,NaN,B,425,265
4,338186834,2021-03-07 01:50:17.500,33.751280,-118.110330,0.0,30.0,511.0,T/T VIRGINIA LEE,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,B,507,280

Number of ships founded (including black areas = 0 pixel value): 29
Number of ships founded (including black areas = 0 pixel value): 29
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset56.png
picture_name: subset56
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.71890888386892
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,367647850,2021-03-07 01:50:17.500,33.693943,-118.152818,7.4,280.7,511.0,HORIZON,NaN,WDH7410,37.0,NaN,15.0,3.0,NaN,NaN,B,34,278
1,413173000,2021-03-07 01:50:17.500,33.668456,-118.142456,0.4,178.0,252.0,XIN DA YANG ZHOU,IMO9337949,BPKE,70.0,1.0,335.0,42.0,14.7,NaN,A,150,562
2,563045300,2021-03-07 01:50:17.500,33.705710,-118.141065,0.0,144.1,256.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,165,147
3,563090400,2021-03-07 01:50:17.500,33.677066,-118.138072,0.2,205.2,248.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,198,466
4,352375000,2021-03-07 01:50:17.500,33.689346,-118.116559,0.4,85.3,251.0,NYK LAURA,IMO9406752,H9LL,70.0,1.0,210.0,30.0,11.5,70.0,A,438,329

Number of ships founded (including black areas = 0 pixel value): 20
Number of ships founded (including black areas = 0 pixel value): 20
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset57.png
picture_name: subset57
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.66141670568527
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,636017154,2021-03-07 01:50:17.500,33.642733,-118.125400,0.6,355.0,262.0,SEALAND LOS ANGELES,IMO9383235,A8PD8,70.0,1.0,208.0,29.0,11.6,NaN,A,340,208
1,255806506,2021-03-07 01:50:17.500,33.660412,-118.137090,0.2,230.6,260.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,209,11
2,354886000,2021-03-07 01:50:17.500,33.659962,-118.149761,0.5,303.2,283.0,COSCO EUROPE,IMO9345415,3EOC5,70.0,1.0,349.0,45.0,14.5,71.0,A,68,16
3,636014997,2021-03-07 01:50:17.500,33.635981,-118.139138,0.0,274.1,274.0,YM MOBILITY,IMO9457737,A8XY6,70.0,1.0,305.0,40.0,14.0,NaN,A,187,283
4,538090583,2021-03-07 01:50:17.500,33.650170,-118.143330,0.1,5.0,262.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,140,125

Number of ships founded (including black areas = 0 pixel value): 5
Number of ships founded (including black areas = 0 pixel value): 5
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset58.png
picture_name: subset58
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.603924527501626


picture: subset59.png
picture_name: subset59
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.546432349317975


picture: subset6.png
picture_name: subset6
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.488940171134324


picture: subset60.png
picture_name: subset60
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.488940171134324


picture: subset61.png
picture_name: subset61
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.43144799295067


picture: subset62.png
picture_name: subset62
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.37395581476702


picture: subset63.png
picture_name: subset63
image_width: 640, image_height: 640
xOrigin: -118.15590192693035, yOrigin: 33.31646363658338


picture: subset64.png
picture_name: subset64
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.77640106205257
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,367461940,2021-03-07 01:50:17.500,33.734150,-118.092234,0.0,271.5,511.0,DB LOS ANGELES,NaN,WDF5328,90.0,3.0,45.0,15.0,NaN,NaN,A,69,470
1,338092107,2021-03-07 01:50:17.500,33.725820,-118.076400,0.0,130.9,511.0,HAMMER,IMO0000000,WDC9051,37.0,NaN,13.0,5.0,NaN,NaN,B,245,563
2,367050320,2021-03-07 01:50:17.500,33.724310,-118.062881,0.0,360.0,511.0,BIG TROUBLE,NaN,WDC6036,37.0,NaN,22.0,6.0,NaN,NaN,B,396,580
3,338035036,2021-03-07 01:50:17.500,33.728660,-118.072630,0.0,0.0,511.0,BOUNTY,NaN,NaN,37.0,NaN,10.0,3.0,NaN,NaN,B,287,531
4,338362994,2021-03-07 01:50:17.500,33.726771,-118.061868,0.0,360.0,511.0,OFF SEASON,IMO0000000,NaN,37.0,NaN,17.0,5.0,NaN,NaN,B,407,552

Number of ships founded (including black areas = 0 pixel value): 15
Number of ships founded (including black areas = 0 pixel value): 15
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset65.png
picture_name: subset65
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.71890888386892
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,367536490,2021-03-07 01:50:17.500,33.684603,-118.051698,6.4,322.0,511.0,TRIUMPH,NaN,WDI7857,37.0,NaN,16.0,4.0,NaN,NaN,B,520,382
1,367414180,2021-03-07 01:50:17.500,33.713433,-118.058507,5.2,99.7,511.0,VALKYRIE,NaN,WDE9156,37.0,NaN,NaN,NaN,NaN,NaN,B,444,61
2,338226906,2021-03-07 01:50:17.500,33.714910,-118.061060,0.0,75.4,511.0,ALETA,NaN,NaN,37.0,NaN,NaN,NaN,NaN,NaN,B,416,45
3,338391906,2021-03-07 01:50:17.500,33.712308,-118.054189,0.0,360.0,511.0,NO OFF BUTTON,IMO0000000,NaN,37.0,NaN,0.0,0.0,NaN,NaN,B,492,73
4,338185756,2021-03-07 01:50:17.500,33.715930,-118.062740,0.0,144.7,511.0,HATTITUDE,NaN,NaN,37.0,NaN,13.0,NaN,NaN,NaN,B,397,33

Number of ships founded (including black areas = 0 pixel value): 7
Number of ships founded (including black areas = 0 pixel value): 7
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset66.png
picture_name: subset66
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.66141670568527
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,215126000,2021-03-07 01:50:17.500,33.629463,-118.055697,0.1,351.1,267.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,475,356
1,219303000,2021-03-07 01:50:17.500,33.612236,-118.056057,0.0,340.8,268.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,471,547
2,355813000,2021-03-07 01:50:17.500,33.638652,-118.065137,0.2,289.1,267.0,MSC MAXINE,IMO9720287,3EBJ4,70.0,1.0,299.0,48.0,14.5,NaN,A,370,253
3,636019206,2021-03-07 01:50:17.500,33.622159,-118.066353,0.0,44.8,263.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,357,437
4,373183000,2021-03-07 01:50:17.500,33.628040,-118.076650,0.1,115.3,266.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,A,242,372

Number of ships founded (including black areas = 0 pixel value): 5
Number of ships founded (including black areas = 0 pixel value): 5
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset67.png
picture_name: subset67
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.603924527501626
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,368017220,2021-03-07 01:50:17.500,33.562649,-118.05306,5.8,315.3,0.0,DESTROYER,IMO0000000,WDJ8516,36.0,NaN,16.0,6.0,NaN,NaN,B,505,459

Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset68.png
picture_name: subset68
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.546432349317975


picture: subset69.png
picture_name: subset69
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.488940171134324


picture: subset7.png
picture_name: subset7
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.43144799295067


picture: subset70.png
picture_name: subset70
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.43144799295067


picture: subset71.png
picture_name: subset71
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.37395581476702
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,368078070,2021-03-07 01:50:17.500,33.362613,-118.042124,10.0,23.5,511.0,THUNDERBIRD,IMO0000000,WDK6786,30.0,NaN,23.0,6.0,NaN,NaN,B,627,126

Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset72.png
picture_name: subset72
image_width: 640, image_height: 640
xOrigin: -118.0984097487467, yOrigin: 33.31646363658338


picture: subset73.png
picture_name: subset73
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.77640106205257


picture: subset74.png
picture_name: subset74
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.71890888386892


picture: subset75.png
picture_name: subset75
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.66141670568527


picture: subset76.png
picture_name: subset76
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.603924527501626
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,636090862,2021-03-07 01:50:17.500,33.593272,-118.033124,0.3,173.6,251.0,JPO LIBRA,IMO9297840,A8GU7,70.0,1.0,264.0,32.0,12.5,NaN,A,87,119

Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded (including black areas = 0 pixel value): 1
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset77.png
picture_name: subset77
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.546432349317975


picture: subset78.png
picture_name: subset78
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.488940171134324


picture: subset79.png
picture_name: subset79
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.43144799295067


picture: subset8.png
picture_name: subset8
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.37395581476702


picture: subset80.png
picture_name: subset80
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.37395581476702


picture: subset81.png
picture_name: subset81
image_width: 640, image_height: 640
xOrigin: -118.04091757056305, yOrigin: 33.31646363658338


picture: subset82.png
picture_name: subset82
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.77640106205257


picture: subset83.png
picture_name: subset83
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.71890888386892


picture: subset84.png
picture_name: subset84
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.66141670568527
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,338364031,2021-03-07 01:50:17.500,33.620253,-117.928441,0.0,270.6,511.0,TOPAZ,IMO0000000,NaN,37.0,NaN,20.0,6.0,NaN,NaN,B,612,458
1,368153440,2021-03-07 01:50:17.500,33.611210,-117.927949,0.0,141.8,511.0,SISTER HOOK,IMO0000000,WDL6719,37.0,NaN,22.0,7.0,NaN,NaN,B,618,559
2,367488450,2021-03-07 01:50:17.500,33.614043,-117.927000,0.0,166.8,511.0,THE ONE,NaN,WDF7817,37.0,NaN,12.0,4.0,NaN,NaN,B,628,527
3,368056830,2021-03-07 01:50:17.500,33.618280,-117.927733,0.0,266.2,511.0,SEA PATRON,IMO0000000,WDK4600,37.0,NaN,0.0,0.0,NaN,NaN,B,620,480
4,367649650,2021-03-07 01:50:17.500,33.611904,-117.926891,0.0,360.0,273.0,HOOKOLOHE,NaN,WDH7592,37.0,NaN,17.0,NaN,NaN,NaN,B,629,551

Number of ships founded (including black areas = 0 pixel value): 19
Number of ships founded (including black areas = 0 pixel value): 19
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset85.png
picture_name: subset85
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.603924527501626


picture: subset86.png
picture_name: subset86
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.546432349317975


picture: subset87.png
picture_name: subset87
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.488940171134324


picture: subset88.png
picture_name: subset88
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.43144799295067


picture: subset89.png
picture_name: subset89
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.37395581476702


picture: subset9.png
picture_name: subset9
image_width: 640, image_height: 640
xOrigin: -118.50085499603225, yOrigin: 33.31646363658338


picture: subset90.png
picture_name: subset90
image_width: 640, image_height: 640
xOrigin: -117.9834253923794, yOrigin: 33.31646363658338


picture: subset91.png
picture_name: subset91
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.77640106205257


picture: subset92.png
picture_name: subset92
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.71890888386892


picture: subset93.png
picture_name: subset93
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.66141670568527
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,338339572,2021-03-07 01:50:17.500,33.604160,-117.887670,0.1,360.0,511.0,TUNA MELT,IMO0000000,NaN,37.0,NaN,14.0,5.0,NaN,NaN,B,426,637
1,367163340,2021-03-07 01:50:17.500,33.610062,-117.908743,0.0,241.7,511.0,MEHETABEL,NaN,WDD5767,37.0,NaN,22.0,5.0,NaN,NaN,B,191,572
2,338328028,2021-03-07 01:50:17.500,33.623267,-117.894690,0.0,360.0,145.0,AQUATA,IMO0000000,NaN,37.0,NaN,18.0,5.0,NaN,NaN,B,348,425
3,367691350,2021-03-07 01:50:17.500,33.613080,-117.924402,0.0,293.6,511.0,ANDIAMO,IMO0000000,NaN,37.0,NaN,21.0,6.0,NaN,NaN,B,17,538
4,367678390,2021-03-07 01:50:17.500,33.613630,-117.924750,0.0,273.3,227.0,EL TIGRE,NaN,WDI2461,37.0,0.0,19.0,6.0,NaN,0.0,A,13,532

Number of ships founded (including black areas = 0 pixel value): 75
Number of ships founded (including black areas = 0 pixel value): 75
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset94.png
picture_name: subset94
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.603924527501626
##############
SHIPS DETECTED
##############

,MMSI,BaseDateTime,LAT,LON,SOG,COG,Heading,VesselName,IMO,CallSign,VesselType,Status,Length,Width,Draft,Cargo,TranscieverClass,LONpx_X2,LATpx_Y2
0,367740030,2021-03-07 01:50:17.500,33.603083,-117.898783,2.0,143.6,511.0,NEWPORT LEGACY,NaN,WDI8578,60.0,0.0,NaN,NaN,NaN,NaN,A,302,9
1,338339611,2021-03-07 01:50:17.500,33.601960,-117.897440,0.0,360.0,318.0,VAL AIR,IMO0000000,NaN,37.0,NaN,11.0,4.0,NaN,NaN,B,317,22
2,367001740,2021-03-07 01:50:17.500,33.603000,-117.899100,0.0,96.0,213.0,CATALINA FLYER,NaN,WTD8887,60.0,0.0,34.0,11.0,NaN,NaN,A,299,10

Number of ships founded (including black areas = 0 pixel value): 3
Number of ships founded (including black areas = 0 pixel value): 3
Number of ships founded after excluding black areas == 0 pixel value: 0

picture: subset95.png
picture_name: subset95
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.546432349317975


picture: subset96.png
picture_name: subset96
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.488940171134324


picture: subset97.png
picture_name: subset97
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.43144799295067


picture: subset98.png
picture_name: subset98
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.37395581476702


picture: subset99.png
picture_name: subset99
image_width: 640, image_height: 640
xOrigin: -117.92593321419575, yOrigin: 33.31646363658338